<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mh978.help_me">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LegalInfo1" />
        <activity android:name=".MajorCase2" />
        <activity android:name=".CaseSearch3" />
        <activity android:name=".LawTerm4" />
        <activity android:name=".CloseCourt5" />
        <activity android:name=".Profile6"></activity>
    </application>

</manifest>