<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mh978.help_me">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCZ2fpc4ZlG8ApSHZmIM1sWIG2kY143sp0" />

        <activity android:name=".MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainQuestion"/>
        <activity
            android:name=".Law1.LawActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".Law1.DetailedLawActivity" />
        <activity
            android:name=".Law2.RecentSentenceActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Law3.PrecedenceSearch"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".Law3.DetailedPreActivity" />
        <activity
            android:name=".Law4.LegalTerm"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Law5.LawGPSActivity"
            android:windowSoftInputMode="adjustNothing"></activity>
        <activity
            android:name=".Law6.MemberInfoActivity"
            android:windowSoftInputMode="adjustNothing" />
    </application>
    
</manifest>